* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(7, 181, 53);
    text-align: center;
}

.loader {
    display: block;
    margin: auto;
}

nav {
    width: 100%;
    padding: 15px 0;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-height: 50px;
}

nav ul {
    text-align: left;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

nav ul li a {
    color: rgb(7, 181, 53);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 30px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 0 10px;
    width: 80%;
    max-width: 800px;
    position: relative;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.modal-close {
    color: grey;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-title {
    color: black;
    font-family: verdana;
    text-align: center;
    font-size: 20px;
    padding: 5px 15px;
}

.modal-body {
    text-align: justify;
    font-size: 14px;
    font-family: verdana;
    padding: 25px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
}

.plant-display .botanical-name {
    font-size: 12px;
    font-weight: normal;
    display: block;
}

.plant-display .plant-photo {
    height: 300px;
    display: block;
    margin: auto;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
}

.plant-display .plant-photo::after {
    content: "Change Photo";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 300px;
    font-size: 3vw;
}

.plant-display .plant-photo:hover::after {
    opacity: 1;
}

.plant-display .plant-photo input {
    display: none;
}

#plantSearchForm {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

#plantSearchForm input {
    font-size: 22px;
    padding: 5px 10px;
    border: solid 1px rgba(177, 177, 177);
}

#plantSearchForm button {
    font-size: 22px;
    padding: 5px 10px;
    border: solid 1px rgba(177, 177, 177);
}

#plantList {
    width: calc(100% - 50px);
    display: none;
    vertical-align: top;
    border: solid 1px rgb(177, 177, 177);
    background-color: #FFF;
    padding: 10px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: left;
}

#plantList li {
    list-style: none;
    width: 50%;
    min-width: 300px;
    display: inline-block;
}

#plantList li a {
    display: inline-block;
    width: 100%;
    border: solid 1px rgba(200, 200, 200);
    color: rgba(100, 100, 100);
    text-decoration: none;
    text-align: left;
}

#plantList li a:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: none;
    margin: 1px;
}

#plantList li a.active {
    cursor: default;
    background-color: rgb(7, 181, 53);
    color: #FFF;
}

#plantList li a img {
    height: 80px;
    vertical-align: middle;
}

#plantDisplay {
    width: calc(100% - 50px);
    margin: auto;
    max-width: 500px;
    display: none;
    vertical-align: top;
    background-color: #FFF;
    border: solid 1px rgb(177, 177, 177);
    min-height: 500px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: justify;
}

#plantDisplay.active, #plantList.active {
    display: block;
}

#plantDisplay h3 {
    padding-bottom: 10px;
    text-align: center;
    color: rgba(100, 100, 100);
    position: relative;
}

#plantDisplay h3 button {
    position: absolute;
    right: 0;
    width: 50px;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255);    
    background: rgba(0, 160, 253);
    cursor: pointer;
    border: none;
}

#plantDisplay h3 button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#plantDisplay h3 button.active {
    background: rgb(7, 181, 53);
}

#plantDisplay h3 button.active:focus {
    outline: none;
}

#plantDisplay img {
    width: 100%;
}

#plantDisplay ul {
    padding: 15px;
}

#plantDisplay h6 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 15px
}

#plantDisplay .flower-colors {
    list-style-type: none;
}

#plantDisplay .flower-colors {
    list-style-type: none;
}

#plantDisplay .flower-colors li {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
}

h2 {
    margin: 10px 0;
    color: #FFF;
}

#gardenDisplay {
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: top;
    background-color: #FFF;
    border: solid 1px rgb(177, 177, 177);
    min-height: 500px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
    list-style-type: none;
    
}

#gardenDisplay li {
    display: inline-block;
}

#gardenDisplay li a {
    display: inline-block;
    text-decoration: none;
    margin: 3px 0px;
    vertical-align: top;
    width: 150px;
    border: solid 1px lightgrey;
}

#gardenDisplay li a:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#gardenDisplay li a .plant-thumbnail {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100px;
}

#gardenDisplay li a .plant-name {
    display: block;
    font-size: 13px;
    color: white;
    background-color: black;
    padding: 5px;
}



@media only screen and (max-width: 700px) {
    #plantList li {
        width: 100%;
    }
  }