* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #07b535
}


#app {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    background-color: #FFF;
}

.small-loader {
    display: inline-block;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #07b535;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

nav {
    width: 100%;
    padding: 15px 0;
    background-color: #FFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-height: 50px;
}

nav ul {
    text-align: left;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

nav ul li[data-float="right"] {
    float: right;
}

nav ul li a {
    color: rgb(7, 181, 53);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-container {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    
}

.register-form,
.login-form {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    margin: 10px auto;
    padding: 10px;
}

.form-error {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    color: red;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}